.profile-overlay {
  position: absolute;
  top: 0;
  left: -100%; /* Keep this to make the overlay slide from the left */
  width: 25%;
  height: 100%;
  background-color: white;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
  transition: left 0.5s ease-in-out; /* Keep this to make the overlay slide from the left */
  z-index: 100;
}

.profile-visible {
  left: 0; /* Keep this to make the overlay slide from the left */
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 35%;
}

h1 {
  position: absolute;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  padding-bottom: 35px;
  border-bottom: 1px solid #f9f9f9;
  
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 200px;
}
.logout-button{
  top: 100px;
  color: white;
  border: none;
  width: auto;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 200px;

}

.login-button:hover {
  background-color: black;
}

.modal-content {
  position: relative;
  background: white;
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  margin: auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-close-button {
  position: absolute;
  top: -25px;
  left: 300px;
  width: 10%;
  height: 10%;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.buttons-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
.profile-details{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
}
/* src/ProfileComponent.css */
.theme-toggle-button {
  top: 120px;
  margin-top: 20px;
}
body.dark-mode .profile-overlay {
  background-color: #222;
  box-shadow: 0 2px 4px rgb(255, 255, 255);
}

body.dark-mode .close-button {
  background-color: #444;
}

body.dark-mode h1 {
  border-bottom: 1px solid #444;
}

body.dark-mode p {
  color: #ccc;
}

