.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the form content */
    width: 100%;
    max-width: 400px;
    margin: 0 auto;  /* Center the form on the page */
}

.signup-form h2 {
    margin-bottom: 50px;
    text-align: center;
}

.signup-form label {
    margin: 10px 0 5px;
    text-align: left;  /* Align text to the left */
    width: 100%;  /* Make label take full width */
}

.signup-form input {
    width: 100%;  /* Make input take full width */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.submit-button {
    width: 100%;  /* Make button take full width */
    color: white;
    background-color: #007bff;  /* Add background color */
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;  /* Center text inside the button */
    margin-top: 20px;  /* Add some space from input fields */
}

.submit-button:hover {
    background-color: #0056b3;
}
