.swipeButtons {
    position: relative;
    bottom: 22vh; /* Adjust to create enough space above the cards */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    z-index: 0; /* Ensure buttons are on top of other elements */
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

/* Adjust icon sizes and button padding */
.swipeButtons__repeat,
.swipeButtons__left,
.swipeButtons__star,
.swipeButtons__right,
.swipeButtons__lightning {
    padding: 1.5vw !important; /* Adjust padding if needed */
}

/* Example button colors */
.swipeButtons__repeat {
    color: #f5b748 !important;
}

.swipeButtons__left {
    color: #cc0000 !important;
}

.swipeButtons__star {
    color: #00c3ff !important;
}

.swipeButtons__right {
    color: #00c54c !important;
}

.swipeButtons__lightning {
    color: #5c0040 !important;
}

/* Ensure the card has space at the bottom */
.card {
    margin-bottom: 20vh; /* Adjust margin to ensure no overlap */
}
